<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998610795814-jrob4uks61n6nm1iv8c8sc29cthkvg2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998610795814-jrob4uks61n6nm1iv8c8sc29cthkvg2k</string>
	<key>API_KEY</key>
	<string>AIzaSyBNsvu4n8lKXpg3zntLQ0-9wL25y1Ahw4I</string>
	<key>GCM_SENDER_ID</key>
	<string>998610795814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tijucahelp</string>
	<key>PROJECT_ID</key>
	<string>tijucahelp</string>
	<key>STORAGE_BUCKET</key>
	<string>tijucahelp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998610795814:ios:55bc05f843b678132955e7</string>
</dict>
</plist>